SMTP verbs are case insensitive

`ehlo` is valid


This is trivial to fix, but it seems lower-case verbs are mostly used by spammers. RFC 5321 section 2.4 even says:

> A few SMTP servers, in violation of this specification (and RFC 821) require that command verbs be encoded by clients in upper case. Implementations MAY wish to employ this encoding to accommodate those servers.

That is, conforming implementations should use upper-case verbs.
